ADMIN_JID=YOUR_PHONE_NUMBER@s.whatsapp.net;
GROUP_THRESHOLD=5
DELAY_MAX=120000
DELAY_MIN=10000

# --- Automatic Broadcast Scheduling ---
# You can add multiple schedules by numbering the variables (e.g., BROADCAST_SCHEDULE_1, BROADCAST_SCHEDULE_2).
# For each schedule, you must provide a corresponding message file.

# Schedule 1 (e.g., every day at 8:00 AM)
BROADCAST_SCHEDULE_1="0 8 * * *"
BROADCAST_MESSAGE_FILE_1="messages/promo_pagi.txt"

# Schedule 2 (e.g., every day at 5:00 PM)
BROADCAST_SCHEDULE_2="0 17 * * *"
BROADCAST_MESSAGE_FILE_2="messages/promo_sore.txt"
